/************************** Common Rules **************************/

/* FONTS */
/* font-family: 'Roboto', sans-serif; */

/************************** Utility  **************************/
.bg_white{
    background-color: white;
}
.bg_lightgrey{
    background-color: #F3F5F9;
}
.bg_blue{
    background-color: #0044C2;
}
.bg_darkblue{
    background-color: #031C4E;
}

.d_flex{
    display: flex;
}

.btn_small{
    border: 1px solid #2486FD;
    border-radius: 5px;
    color: #2486FD;
    padding: 5px 10px;
    font-size: 0.8rem;
}

/************************** Header **************************/
nav{
    height: 50px;
    line-height: 50px;
}

nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding-right: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    vertical-align: middle; 
    color: #213764;
}
nav i{
    vertical-align: middle;
}

nav .row .col-lg-3>img{
    height: 30px;
    vertical-align: middle;
}
nav .row .col-lg-3>span{
    font-size: 20px;
    color: #2486FD;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    vertical-align: middle;
}
nav .row .col-lg-4{
    padding-right: 1rem;
}
nav .col-md-2,
nav .col-xs-2{
    display: none;
    color: #2486FD;
}

/************************** Main **************************/
main{
    font-family: 'Roboto', sans-serif;
}

/* Section Title and Form */

.jumbobox{
    background-image: url(../img/bg-banner-home.jpg);
    background-size: contain;
    background-size: 102% 100%;
}
.jumbobox .col-lg-7{
    color: white;
}
.jumbobox .col-lg-7 h1{
    font-size: 4.1rem;
    line-height: 4.1rem;
}
.jumbobox .col-lg-7 p{
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-right: 2rem;
}
.jumbobox .col-lg-5{
    background-color: white;
    border-radius: 5px;
    padding: 2rem 1rem;
    text-align: center;
}
.jumbobox .col-lg-5 h2:nth-of-type(2){
    color: #2486FD;
    padding-bottom: 1rem;
}
.jumbobox .col-lg-5 input,
.jumbobox .col-lg-5 button{
    width: 100%;
    height: 40px;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(59, 59, 59, 0.1);
}
.jumbobox .col-lg-5 input{
    padding-left: 0.5rem;
}
.jumbobox .col-lg-5 button{
    font-weight: 600;
    border-radius: 5px;
}
.jumbobox .col-lg-5 button:nth-of-type(1){
    background-color: #2486FD;
    color: white;
}
.jumbobox .col-lg-5 button:nth-of-type(2){
    background-color: white;
    background-image: url(../img/google-icon.png);
    background-size: 6%;
    background-position: 2%;
    background-repeat: no-repeat;
}
.jumbobox .col-lg-5 p{
    font-size: 13px;
}
.jumbobox .col-lg-5 p>a{
    color: #2486FD;
}


/* Section partners Logo*/
.partners_logo{
    justify-content: space-around;
    flex-wrap: wrap;

}
.partners h4{
    text-transform: uppercase;
    color: #717D99;
}
.partners a{
    color: #2486FD;
    text-decoration: none;
}
.partners a>i{
    padding-left: 0.5rem;
}

/* Section Deploy and scale*/
.deploy_1 h2{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.deploy_1 p{
    font-size: 1.4rem;
    color: #717D99;
}

.deploy_2 a{
    text-decoration: none;
    display: block;
    padding: 1rem 0 1rem 0.5rem;
    color: #717D99;

    border-left: 1px solid #717D99;
}

.deploy_2 .col-lg-8 h4{
    padding: 1rem 0;
}
.deploy_2 .col-lg-8 p{
    color: #717D99;
}
.deploy_2 .col-lg-8 .col-lg-6{
    padding-right: 2rem;
    margin-bottom: 2rem;
}



/************************** Footer **************************/





















/************************** Media Query **************************/

/************************** Media Query Smartphone **************************/
@media screen and (max-width: 767px){
    /**************** NavBar ****************/
    
    nav .col-lg-5,
    nav .col-lg-4{
        display: none;
    }
    nav .col-xs-2{
        display: inline-block;
    }

    /**************** Main ****************/
    .jumbobox .col-xs-12:first-child p{
        padding: 1rem 0;
    }
    .jumbobox .container{
        padding: 0 1rem;
    }
    .jumbobox{
        background-size: contain;
    }

     /* Partners Logo */
     .partners_logo {
        /* flex-wrap: wrap; */
    }
    .partners h4{
        font-size: 1.4rem;
    }
    .partners a{
        font-size: 1.2rem;
    }
    .partners_logo img{
        width: 40%;
    }

    /* Deploy and Scale */
    .deploy_2 .col-xs-12{
        margin-left: 5px;
        margin-bottom: -10px;
        margin-top: 10px;
    }
    .deploy_2 .col-xs-12>a{
        margin-left: 7px;
    }
    .deploy_2 .col-xs-12>a:last-child{
        margin-bottom: 17px;
    }

}

/************************** Media Query Tablet **************************/
@media screen and (min-width: 768px) and (max-width: 991px){

    /**************** NavBar ****************/
    nav .col-lg-5,
    nav .col-lg-4{
        display: none;
    }
    nav .col-md-2{
        display: inline-block;
    }

    /**************** Main ****************/

    /* Title and form */
    .jumbotron>.container>.row>.col-lg-7, .col-md-8{
        padding-left:  1rem;
    }
    

   
}

